In [33]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import sys
import os

In [34]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [40]:
from clean import Clean
from outlier import Outlier 
from visualizer import *

In [38]:
uri="postgresql+psycopg2://postgres:nadnes@localhost:5432/postgres"

In [3]:
engine=create_engine(uri)

In [4]:
connect=engine.connect()

In [5]:
query=""" SELECT * FROM public.xdr_data """

In [6]:
df=pd.read_sql(query,connect)

In [7]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [8]:
df.size

8250055

In [22]:
# rows and columns in the df
df.shape

(150001, 55)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [13]:
# descriptive statistics that summarize the central tendency, dispersion of the df's numerical columns, excluding NaN values
df.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [18]:
!pip3 install --upgrade pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [19]:
# column names
df.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [43]:
df = Clean().drop_duplicate(df)
df.shape

(150001, 55)

In [45]:
Clean.percent_missing(df)

This dataset contains 12.5 % missing values.

/var/folders/ct/mjt4zhkj4fdfb1ghw994374m0000gn/T/ipykernel_30147/2033999849.py:1: DeprecationWarning: `product` is deprecated as of NumPy 1.25.0, and will be removed in NumPy 2.0. Please use `prod` instead.
  Clean.percent_missing(df)

In [46]:
df.isna().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [48]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'percentage_of_missed_values': percent_missing})
print(missing_value_df)

                                          percentage_of_missed_values
Bearer Id                                                    0.660662
Start                                                        0.000667
Start ms                                                     0.000667
End                                                          0.000667
End ms                                                       0.000667
Dur. (ms)                                                    0.000667
IMSI                                                         0.379997
MSISDN/Number                                                0.710662
IMEI                                                         0.381331
Last Location Name                                           0.768662
Avg RTT DL (ms)                                             18.552543
Avg RTT UL (ms)                                             18.541210
Avg Bearer TP DL (kbps)                                      0.000667
Avg Bearer TP UL (kbps)                                      0.000667
TCP DL Retrans. Vol (Bytes)                                 58.763608
TCP UL Retrans. Vol (Bytes)                                 64.432237
DL TP < 50 Kbps (%)                                          0.502663
50 Kbps < DL TP < 250 Kbps (%)                               0.502663
250 Kbps < DL TP < 1 Mbps (%)                                0.502663
DL TP > 1 Mbps (%)                                           0.502663
UL TP < 10 Kbps (%)                                          0.527996
10 Kbps < UL TP < 50 Kbps (%)                                0.527996
50 Kbps < UL TP < 300 Kbps (%)                               0.527996
UL TP > 300 Kbps (%)                                         0.527996
HTTP DL (Bytes)                                             54.315638
HTTP UL (Bytes)                                             54.539636
Activity Duration DL (ms)                                    0.000667
Activity Duration UL (ms)                                    0.000667
Dur. (ms).1                                                  0.000667
Handset Manufacturer                                         0.381331
Handset Type                                                 0.381331
Nb of sec with 125000B < Vol DL                             65.024900
Nb of sec with 1250B < Vol UL < 6250B                       61.928920
Nb of sec with 31250B < Vol DL < 125000B                    62.390251
Nb of sec with 37500B < Vol UL                              86.835421
Nb of sec with 6250B < Vol DL < 31250B                      58.877607
Nb of sec with 6250B < Vol UL < 37500B                      74.561503
Nb of sec with Vol DL < 6250B                                0.503330
Nb of sec with Vol UL < 1250B                                0.528663
Social Media DL (Bytes)                                      0.000000
Social Media UL (Bytes)                                      0.000000
Google DL (Bytes)                                            0.000000
Google UL (Bytes)                                            0.000000
Email DL (Bytes)                                             0.000000
Email UL (Bytes)                                             0.000000
Youtube DL (Bytes)                                           0.000000
Youtube UL (Bytes)                                           0.000000
Netflix DL (Bytes)                                           0.000000
Netflix UL (Bytes)                                           0.000000
Gaming DL (Bytes)                                            0.000000
Gaming UL (Bytes)                                            0.000000
Other DL (Bytes)                                             0.000000
Other UL (Bytes)                                             0.000000
Total UL (Bytes)                                             0.000667
Total DL (Bytes)                                             0.000667

In [49]:
missing_df = Clean.missing_values_table(df)

Your selected dataframe has 55 columns.
There are 41 columns that have missing values.

In [52]:
missing_Value = missing_df[missing_df['% of Total Values'] >=30.00].index.tolist()
missing_Value

['Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with 125000B < Vol DL',
 'TCP UL Retrans. Vol (Bytes)',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'TCP DL Retrans. Vol (Bytes)',
 'HTTP UL (Bytes)',
 'HTTP DL (Bytes)']

In [50]:
columns_wanted = ['TCP UL Retrans. Vol (Bytes)','TCP DL Retrans. Vol (Bytes)']

In [53]:
remove_columns = [col for col in missing_Value if col not in columns_wanted]
remove_columns

['Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'HTTP UL (Bytes)',
 'HTTP DL (Bytes)']

In [54]:
df = df.drop(remove_columns,axis=1)
df.shape

(150001, 47)

In [55]:
Clean.percent_missing(df)

This dataset contains 3.6 % missing values.

/var/folders/ct/mjt4zhkj4fdfb1ghw994374m0000gn/T/ipykernel_30147/2033999849.py:1: DeprecationWarning: `product` is deprecated as of NumPy 1.25.0, and will be removed in NumPy 2.0. Please use `prod` instead.
  Clean.percent_missing(df)

In [58]:
Clean.missing_values_table(df)

Your selected dataframe has 47 columns.
There are 33 columns that have missing values.

                                Missing Values  % of Total Values    Dtype
TCP UL Retrans. Vol (Bytes)              96649              64.43  float64
TCP DL Retrans. Vol (Bytes)              88146              58.76  float64
Avg RTT DL (ms)                          27829              18.55  float64
Avg RTT UL (ms)                          27812              18.54  float64
Last Location Name                        1153               0.77   object
MSISDN/Number                             1066               0.71  float64
Bearer Id                                  991               0.66  float64
Nb of sec with Vol UL < 1250B              793               0.53  float64
UL TP > 300 Kbps (%)                       792               0.53  float64
50 Kbps < UL TP < 300 Kbps (%)             792               0.53  float64
10 Kbps < UL TP < 50 Kbps (%)              792               0.53  float64
UL TP < 10 Kbps (%)                        792               0.53  float64
Nb of sec with Vol DL < 6250B              755               0.50  float64
50 Kbps < DL TP < 250 Kbps (%)             754               0.50  float64
DL TP > 1 Mbps (%)                         754               0.50  float64
250 Kbps < DL TP < 1 Mbps (%)              754               0.50  float64
DL TP < 50 Kbps (%)                        754               0.50  float64
IMEI                                       572               0.38  float64
Handset Manufacturer                       572               0.38   object
Handset Type                               572               0.38   object
IMSI                                       570               0.38  float64
Start                                        1               0.00   object
Avg Bearer TP UL (kbps)                      1               0.00  float64
Avg Bearer TP DL (kbps)                      1               0.00  float64
Dur. (ms)                                    1               0.00  float64
End ms                                       1               0.00  float64
Activity Duration DL (ms)                    1               0.00  float64
Activity Duration UL (ms)                    1               0.00  float64
Dur. (ms).1                                  1               0.00  float64
End                                          1               0.00   object
Start ms                                     1               0.00  float64
Total UL (Bytes)                             1               0.00  float64
Total DL (Bytes)                             1               0.00  float64

In [59]:
Clean.fix_missing_bfill(df, 'TCP UL Retrans. Vol (Bytes)')

/Users/nadianesib/week-2/scripts/clean.py:90: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[col] = df[col].fillna(method='bfill')

0         7230.0
1         7230.0
2         7230.0
3         7230.0
4         7230.0
           ...
149996       NaN
149997       NaN
149998       NaN
149999       NaN
150000       NaN
Name: TCP UL Retrans. Vol (Bytes), Length: 150001, dtype: float64

In [61]:
Clean.fix_missing_bfill(df, 'TCP DL Retrans. Vol (Bytes)')

0         19520.0
1         19520.0
2         19520.0
3         19520.0
4         19520.0
           ...
149996        NaN
149997        NaN
149998        NaN
149999        NaN
150000        NaN
Name: TCP DL Retrans. Vol (Bytes), Length: 150001, dtype: float64

In [65]:
Clean.fix_missing_bfill(df, 'TCP DL Retrans. Vol (Bytes)')

0         19520.0
1         19520.0
2         19520.0
3         19520.0
4         19520.0
           ...
149996        NaN
149997        NaN
149998        NaN
149999        NaN
150000        NaN
Name: TCP DL Retrans. Vol (Bytes), Length: 150001, dtype: float64

In [66]:
df['Avg RTT DL (ms)'].skew(skipna=True)

62.907828079959614

In [67]:
df['Avg RTT UL (ms)'].skew(skipna=True)

28.457414585463813

In [70]:
df['Avg RTT UL (ms)'].skew(skipna=True)

28.457414585463813

Since both are highly skewed we will use forward fill

In [71]:
Clean.fix_missing_ffill(df, 'Avg RTT DL (ms)')

/Users/nadianesib/week-2/scripts/clean.py:84: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[col] = df[col].fillna(method='ffill')

0         42.0
1         65.0
2         65.0
3         65.0
4         65.0
          ...
149996    32.0
149997    27.0
149998    43.0
149999    37.0
150000    37.0
Name: Avg RTT DL (ms), Length: 150001, dtype: float64

In [72]:
Clean.fix_missing_ffill(df, 'Avg RTT UL (ms)')

0         5.0
1         5.0
2         5.0
3         5.0
4         5.0
         ...
149996    0.0
149997    2.0
149998    6.0
149999    5.0
150000    5.0
Name: Avg RTT UL (ms), Length: 150001, dtype: float64

In [76]:
Clean.percent_missing(df)

This dataset contains 0.19 % missing values.

/var/folders/ct/mjt4zhkj4fdfb1ghw994374m0000gn/T/ipykernel_30147/2033999849.py:1: DeprecationWarning: `product` is deprecated as of NumPy 1.25.0, and will be removed in NumPy 2.0. Please use `prod` instead.
  Clean.percent_missing(df)

In [74]:
Clean.percent_missing(df)

This dataset contains 0.19 % missing values.

/var/folders/ct/mjt4zhkj4fdfb1ghw994374m0000gn/T/ipykernel_30147/2033999849.py:1: DeprecationWarning: `product` is deprecated as of NumPy 1.25.0, and will be removed in NumPy 2.0. Please use `prod` instead.
  Clean.percent_missing(df)

In [75]:
Clean.missing_values_table(df)

Your selected dataframe has 47 columns.
There are 31 columns that have missing values.

                                Missing Values  % of Total Values    Dtype
Last Location Name                        1153               0.77   object
MSISDN/Number                             1066               0.71  float64
Bearer Id                                  991               0.66  float64
Nb of sec with Vol UL < 1250B              793               0.53  float64
UL TP > 300 Kbps (%)                       792               0.53  float64
50 Kbps < UL TP < 300 Kbps (%)             792               0.53  float64
10 Kbps < UL TP < 50 Kbps (%)              792               0.53  float64
UL TP < 10 Kbps (%)                        792               0.53  float64
Nb of sec with Vol DL < 6250B              755               0.50  float64
DL TP < 50 Kbps (%)                        754               0.50  float64
DL TP > 1 Mbps (%)                         754               0.50  float64
250 Kbps < DL TP < 1 Mbps (%)              754               0.50  float64
50 Kbps < DL TP < 250 Kbps (%)             754               0.50  float64
IMEI                                       572               0.38  float64
Handset Type                               572               0.38   object
Handset Manufacturer                       572               0.38   object
IMSI                                       570               0.38  float64
TCP UL Retrans. Vol (Bytes)                  5               0.00  float64
TCP DL Retrans. Vol (Bytes)                  5               0.00  float64
Dur. (ms).1                                  1               0.00  float64
Total UL (Bytes)                             1               0.00  float64
Start ms                                     1               0.00  float64
End                                          1               0.00   object
Activity Duration DL (ms)                    1               0.00  float64
Activity Duration UL (ms)                    1               0.00  float64
End ms                                       1               0.00  float64
Dur. (ms)                                    1               0.00  float64
Avg Bearer TP DL (kbps)                      1               0.00  float64
Avg Bearer TP UL (kbps)                      1               0.00  float64
Start                                        1               0.00   object
Total DL (Bytes)                             1               0.00  float64

In [78]:
Clean.fix_missing_value(df, 'Handset Type', 'unknown')
Clean.fix_missing_value(df, 'Handset Manufacturer', 'unknown')

572 missing values in the column Handset Type have been replaced by unknown.
572 missing values in the column Handset Manufacturer have been replaced by unknown.

0           Samsung
1           Samsung
2           Samsung
3         undefined
4           Samsung
            ...
149996        Apple
149997        Apple
149998        Apple
149999       Huawei
150000      unknown
Name: Handset Manufacturer, Length: 150001, dtype: object

In [80]:
Clean.percent_missing(df)

This dataset contains 0.17 % missing values.

/var/folders/ct/mjt4zhkj4fdfb1ghw994374m0000gn/T/ipykernel_30147/2033999849.py:1: DeprecationWarning: `product` is deprecated as of NumPy 1.25.0, and will be removed in NumPy 2.0. Please use `prod` instead.
  Clean.percent_missing(df)

In [81]:
df.dtypes

Bearer Id                         float64
Start                              object
Start ms                          float64
End                                object
End ms                            float64
Dur. (ms)                         float64
IMSI                              float64
MSISDN/Number                     float64
IMEI                              float64
Last Location Name                 object
Avg RTT DL (ms)                   float64
Avg RTT UL (ms)                   float64
Avg Bearer TP DL (kbps)           float64
Avg Bearer TP UL (kbps)           float64
TCP DL Retrans. Vol (Bytes)       float64
TCP UL Retrans. Vol (Bytes)       float64
DL TP < 50 Kbps (%)               float64
50 Kbps < DL TP < 250 Kbps (%)    float64
250 Kbps < DL TP < 1 Mbps (%)     float64
DL TP > 1 Mbps (%)                float64
UL TP < 10 Kbps (%)               float64
10 Kbps < UL TP < 50 Kbps (%)     float64
50 Kbps < UL TP < 300 Kbps (%)    float64
UL TP > 300 Kbps (%)              float64
Activity Duration DL (ms)         float64
Activity Duration UL (ms)         float64
Dur. (ms).1                       float64
Handset Manufacturer               object
Handset Type                       object
Nb of sec with Vol DL < 6250B     float64
Nb of sec with Vol UL < 1250B     float64
Social Media DL (Bytes)           float64
Social Media UL (Bytes)           float64
Google DL (Bytes)                 float64
Google UL (Bytes)                 float64
Email DL (Bytes)                  float64
Email UL (Bytes)                  float64
Youtube DL (Bytes)                float64
Youtube UL (Bytes)                float64
Netflix DL (Bytes)                float64
Netflix UL (Bytes)                float64
Gaming DL (Bytes)                 float64
Gaming UL (Bytes)                 float64
Other DL (Bytes)                  float64
Other UL (Bytes)                  float64
Total UL (Bytes)                  float64
Total DL (Bytes)                  float64
dtype: object

In [83]:
Clean.convert_to_datetime(df, ['Start', 'End'])

In [84]:
# get the columns with object data type
string_columns = df.select_dtypes(include='object').columns.tolist()
string_columns

['Last Location Name', 'Handset Manufacturer', 'Handset Type']

In [88]:
Clean.convert_to_datetime(df, ['End'])

In [90]:
df.dtypes

Bearer Id                                float64
Start                             datetime64[ns]
Start ms                                 float64
End                               datetime64[ns]
End ms                                   float64
Dur. (ms)                                float64
IMSI                                     float64
MSISDN/Number                            float64
IMEI                                     float64
Last Location Name                        object
Avg RTT DL (ms)                          float64
Avg RTT UL (ms)                          float64
Avg Bearer TP DL (kbps)                  float64
Avg Bearer TP UL (kbps)                  float64
TCP DL Retrans. Vol (Bytes)              float64
TCP UL Retrans. Vol (Bytes)              float64
DL TP < 50 Kbps (%)                      float64
50 Kbps < DL TP < 250 Kbps (%)           float64
250 Kbps < DL TP < 1 Mbps (%)            float64
DL TP > 1 Mbps (%)                       float64
UL TP < 10 Kbps (%)                      float64
10 Kbps < UL TP < 50 Kbps (%)            float64
50 Kbps < UL TP < 300 Kbps (%)           float64
UL TP > 300 Kbps (%)                     float64
Activity Duration DL (ms)                float64
Activity Duration UL (ms)                float64
Dur. (ms).1                              float64
Handset Manufacturer                      object
Handset Type                              object
Nb of sec with Vol DL < 6250B            float64
Nb of sec with Vol UL < 1250B            float64
Social Media DL (Bytes)                  float64
Social Media UL (Bytes)                  float64
Google DL (Bytes)                        float64
Google UL (Bytes)                        float64
Email DL (Bytes)                         float64
Email UL (Bytes)                         float64
Youtube DL (Bytes)                       float64
Youtube UL (Bytes)                       float64
Netflix DL (Bytes)                       float64
Netflix UL (Bytes)                       float64
Gaming DL (Bytes)                        float64
Gaming UL (Bytes)                        float64
Other DL (Bytes)                         float64
Other UL (Bytes)                         float64
Total UL (Bytes)                         float64
Total DL (Bytes)                         float64
dtype: object

In [91]:
# get the columns with object data type
string_columns = df.select_dtypes(include='object').columns.tolist()
string_columns

['Last Location Name', 'Handset Manufacturer', 'Handset Type']

In [93]:
Clean.convert_to_string(df, string_columns)

In [95]:
df.dtypes

Bearer Id                                float64
Start                             datetime64[ns]
Start ms                                 float64
End                               datetime64[ns]
End ms                                   float64
Dur. (ms)                                float64
IMSI                                     float64
MSISDN/Number                            float64
IMEI                                     float64
Last Location Name                string[python]
Avg RTT DL (ms)                          float64
Avg RTT UL (ms)                          float64
Avg Bearer TP DL (kbps)                  float64
Avg Bearer TP UL (kbps)                  float64
TCP DL Retrans. Vol (Bytes)              float64
TCP UL Retrans. Vol (Bytes)              float64
DL TP < 50 Kbps (%)                      float64
50 Kbps < DL TP < 250 Kbps (%)           float64
250 Kbps < DL TP < 1 Mbps (%)            float64
DL TP > 1 Mbps (%)                       float64
UL TP < 10 Kbps (%)                      float64
10 Kbps < UL TP < 50 Kbps (%)            float64
50 Kbps < UL TP < 300 Kbps (%)           float64
UL TP > 300 Kbps (%)                     float64
Activity Duration DL (ms)                float64
Activity Duration UL (ms)                float64
Dur. (ms).1                              float64
Handset Manufacturer              string[python]
Handset Type                      string[python]
Nb of sec with Vol DL < 6250B            float64
Nb of sec with Vol UL < 1250B            float64
Social Media DL (Bytes)                  float64
Social Media UL (Bytes)                  float64
Google DL (Bytes)                        float64
Google UL (Bytes)                        float64
Email DL (Bytes)                         float64
Email UL (Bytes)                         float64
Youtube DL (Bytes)                       float64
Youtube UL (Bytes)                       float64
Netflix DL (Bytes)                       float64
Netflix UL (Bytes)                       float64
Gaming DL (Bytes)                        float64
Gaming UL (Bytes)                        float64
Other DL (Bytes)                         float64
Other UL (Bytes)                         float64
Total UL (Bytes)                         float64
Total DL (Bytes)                         float64
dtype: object

In [98]:
df.to_csv('../data/preprocessed_data.csv')

In [100]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [102]:
#Top ten handsets 
Top_handsets = pd.DataFrame({'number of users':df.groupby(['Handset Type'])['Bearer Id'].count()}).reset_index()
Top_handsets = Top_handsets.sort_values(['number of users'],ascending=False)
print("\nTOP TEN HANDSETS")
Top_handsets.head(10)

TOP TEN HANDSETS

                      Handset Type  number of users
316               Huawei B528S-23A            19752
53         Apple iPhone 6S (A1688)             9401
49          Apple iPhone 6 (A1586)             9004
1395                     undefined             8960
59          Apple iPhone 7 (A1778)             6301
73         Apple iPhone Se (A1723)             5176
66          Apple iPhone 8 (A1905)             4985
78         Apple iPhone Xr (A2105)             4562
955   Samsung Galaxy S8 (Sm-G950F)             4504
75          Apple iPhone X (A1901)             3809

In [104]:
#top 3 handset manufacturers
Top_handset_manf = pd.DataFrame({'handsets manufactured':df.groupby(['Handset Manufacturer'])['Bearer Id'].count()}).reset_index()
Top_handset_manf = Top_handset_manf.sort_values(['handsets manufactured'],ascending=False).reset_index()
print('\nTOP THREE HANDSET MANUFACTURERES\n')
Top_handset_manf.head(3)

TOP THREE HANDSET MANUFACTURERES

   index Handset Manufacturer  handsets manufactured
0      5                Apple                  59440
1    103              Samsung                  40689
2     52               Huawei                  34353

In [106]:
#top 5 handsets per top 3 handset manufacturer
# df_handset_manf[df_handset_manf["Handset Manufacturer"] == "Apple"]
top_handset_apple = df.groupby(['Handset Manufacturer']).get_group('Apple')[["Handset Type","Bearer Id"]].sort_values(by="Bearer Id",ascending=False)
top_handset_samsung = df.groupby(['Handset Manufacturer']).get_group('Samsung')[["Handset Type","Bearer Id"]].sort_values(by="Bearer Id",ascending=False)
top_handset_huawei= df.groupby(['Handset Manufacturer']).get_group('Huawei')[["Handset Type","Bearer Id"]].sort_values(by="Bearer Id",ascending=False)
print(top_handset_apple.head(5),"\n\n")
print(top_handset_samsung.head(5),"\n\n")
print(top_handset_huawei.head(5))

                       Handset Type     Bearer Id
118772  Apple iPhone 7 Plus (A1784)  1.318654e+19
118658  Apple iPhone 7 Plus (A1784)  1.318654e+19
93461        Apple iPhone 6 (A1549)  1.318654e+19
92188       Apple iPhone Se (A1723)  1.318654e+19
92027       Apple iPhone 6S (A1688)  1.318654e+19


                             Handset Type     Bearer Id
117830       Samsung Galaxy S7 (Sm-G930X)  1.318654e+19
97259                   Samsung Galaxy J6  1.318654e+19
90733   Samsung Galaxy S9 Plus (Sm-G965F)  1.318654e+19
87492        Samsung Galaxy S8 (Sm-G950F)  1.318654e+19
86009         Samsung Galaxy J3 (Sm-J330)  1.318654e+19


            Handset Type     Bearer Id
144432    Huawei P20 Pro  1.318654e+19
138272  Huawei B525S-23A  1.318654e+19
137658  Huawei B525S-23A  1.318654e+19
132390    Huawei P20 Pro  1.318654e+19
122032  Huawei B525S-23A  1.318654e+19

/var/folders/ct/mjt4zhkj4fdfb1ghw994374m0000gn/T/ipykernel_30147/1702186400.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  top_handset_apple = df.groupby(['Handset Manufacturer']).get_group('Apple')[["Handset Type","Bearer Id"]].sort_values(by="Bearer Id",ascending=False)
/var/folders/ct/mjt4zhkj4fdfb1ghw994374m0000gn/T/ipykernel_30147/1702186400.py:4: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  top_handset_samsung = df.groupby(['Handset Manufacturer']).get_group('Samsung')[["Handset Type","Bearer Id"]].sort_values(by="Bearer Id",ascending=False)
/var/folders/ct/mjt4zhkj4fdfb1ghw994374m0000gn/T/ipykernel_30147/1702186400.py:5: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  top_handset_huawei= df.groupby(['Handset Manufacturer']).get_group('Huawei')[["Handset Type","Bearer Id"]].sort_values(by="Bearer Id",ascending=False)

# OverView

In [107]:
#number of xDR sessions
xdr_session = df.groupby('MSISDN/Number').agg({'Bearer Id': 'count' }).reset_index()
xdr_session['no.xdr_session'] = xdr_session['Bearer Id']
xdr2 = xdr_session.groupby('MSISDN/Number').agg({'no.xdr_session': 'sum'}).reset_index()
xdr2.head(10)

   MSISDN/Number  no.xdr_session
0   3.360100e+10               1
1   3.360100e+10               1
2   3.360100e+10               1
3   3.360101e+10               1
4   3.360101e+10               2
5   3.360101e+10               2
6   3.360101e+10               2
7   3.360101e+10               1
8   3.360101e+10               2
9   3.360102e+10               1

In [109]:
#Session duration
Session_duration = df.groupby('MSISDN/Number').agg({'Dur. (ms)':'sum',}).reset_index()
Session_duration.head(10)

   MSISDN/Number  Dur. (ms)
0   3.360100e+10   116720.0
1   3.360100e+10   181230.0
2   3.360100e+10   134969.0
3   3.360101e+10    49878.0
4   3.360101e+10    37104.0
5   3.360101e+10   253983.0
6   3.360101e+10   128360.0
7   3.360101e+10    86399.0
8   3.360101e+10   495702.0
9   3.360102e+10   124854.0

In [114]:
#the total download (DL) and upload (UL) data
df['Total(UL/DL)'] = df['Total UL (Bytes)'] + df['Total DL (Bytes)']
total_ul_dl = df.groupby('MSISDN/Number').agg({'Total(UL/DL)':'sum'}).reset_index()
total_ul_dl.head(10)

   MSISDN/Number  Total(UL/DL)
0   3.360100e+10  8.786906e+08
1   3.360100e+10  1.568596e+08
2   3.360100e+10  5.959665e+08
3   3.360101e+10  4.223207e+08
4   3.360101e+10  1.457411e+09
5   3.360101e+10  6.152172e+08
6   3.360101e+10  6.547231e+08
7   3.360101e+10  3.326604e+08
8   3.360101e+10  9.901322e+08
9   3.360102e+10  7.324638e+08